body {
    overflow-x: hidden;
}

/* header */
header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url(../img/whiteback.jpg) fixed center no-repeat /cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}


.banner-heading img {
    animation: beating 2s infinite;
}

@keyframes beating {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/* end of header */

/*  common title*/
.common-title {
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 2px 2px 5px #aaa;
  transition: all .5s;
}

.common-title:hover {
  transform: translate(-5px, -3px);
  text-shadow: 2px 5px 20px #aaa;
}

/* end common title */
/*  gallery*/
.gallery-img {
  backface-visibility: hidden;
  transition: all .5s;
}
.gallery-img:hover {
  transform: scale(1.05);
}

.first-row {
  transform: translateX(-300px);
  transition: all 2.5s;
}

.change .first-row {
  transform: translateX(0);
  opacity: 1
}

/*  end of gallery*/

/* social media  */
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.github {
  background: #19334d;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}
.download {
  background: #538cc6;
  color: white;
}


/* social media  */
